extends layout

activemenu = 'API'

mixin item(title, url, active)
    li(class=active == title ? 'active' : '')
        a(href=url)= title

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar').navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href='/').navbar-brand #{title}
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/api') API
                    li
                        a(href='/about') About
                    li.active
                        a(href='/contact') Contact
    .container
        h1 Contact
        p This is how you can get in contact with me.
        hr
