extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar').navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href='/').navbar-brand #{title}
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') Home
                    li
                        a(href='/api') API
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact
    .jumbotron
        .container.starter-template
            h1= title
            p Welcome to #{title}

    .container
        .row
            .col-md-4
                h2 API
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                    a(href='/api' role='button').btn.btn-default View details
            .col-md-4
                h2 About
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                    a(href='/about' role='button').btn.btn-default View details
            .col-md-4
                h2 Contact
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                    a(href='/contact' role='button').btn.btn-default View details
        hr
